@{
    ViewBag.Title = "Home Page";
}

<div style="text-align:center">
    <h1>View Overtime</h1>
</div>

<div class="container" style="width:60%; margin-top:2%;">
        @foreach (var item in ViewBag.AllOvertime)
        {
            <table class="table table-responsive" id="table_@item.OvertimeId">
                         
               <tr>
                        @{
                            string imgSource = "\\content\\" + item.Location + "_tn.jpg";
                         }

                       <td>
                   <div style="text-align:center"><img src="@imgSource" alt="@item.Location" style="min-width:150px; min-height:100px; border:2px solid; margin:5px" /><br />
                   <a href="#" id="btnSignUp_@item.OvertimeId" class="btn btn-success"> Sign Up</a>
                    </div>
                        </td>

                   <td>
                       <table class="table">
                           <tr style="border:none">
                               <td>
                                   Id:
                               </td>
                                <td>
                                    @item.OvertimeId
                                </td>
                           </tr>
                           <tr>
                               <td>
                                   Location:
                               </td>
                               <td>
                                   @item.Location 
                               </td>
                           </tr>
                           <tr>
                               <td>
                                   Start Time: 
                               </td>
                               <td>
                                   @item.DateTimeStart
                               </td>
                           </tr>
                           <tr>
                               <td>
                                   End Time:
                               </td>
                               <td>
                                   @item.DateTimeEnd
                               </td>
                           </tr>
                       </table>
                       <br />
                       <div id="deadline_@item.OvertimeId">Sign Up By: @item.SignUpEnd</div><br />
                   </td>                            
                </tr>
            </table>

            <script>

                $(document).ready(function () {

                    $("#table_@item.OvertimeId").mouseover(function () {

                        $("#deadline_@item.OvertimeId").css({ "color":"blue"});
                    });
                    $("#table_@item.OvertimeId").mouseout(function () {

                        $("#deadline_@item.OvertimeId").css({ "color": "black"});
                    });
});
            </script>
                            }
    </div>
